<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>

<body class="has-background-light">
    <section class="section">
        <div class="container">
            <div class="card">
                <header class="card-header">
                    <p class="card-header-title">
                        Home
                    </p>
                </header>

                <div class="card-content">
                    <div class="content">
                        <p>Select a page:</p>
                        <ul>
                            <li><a href="/full_list_meals" class="has-text-link">Full List of Meals</a></li>
                            <li><a href="/add_meal" class="has-text-link">Add Meal</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>